<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/dist/index.css">
    <script defer src="../public/render.js"></script>
    <title>Project Settings</title>
  </head>
  <body>
    <div class="titlebar">
      <button class="close-window" id="close-window">
        <img src="../assets/close.svg" />
      </button>
    </div>
    <div class="types-container">
      <span class="heading">Basic</span>
      <div class="opt">Blank website</div>
      <div class="opt">Layout website</div>
      <div class="opt">Blank application</div>
      <div class="opt">Console application</div>
      <div class="opt">Console application</div>
      <span class="heading">Developer</span>
      <div class="opt">Console application</div>
    </div>
  </body>
</html>